# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# IntelliJ
.idea/
*.iml
*.iws
*.ipr

# Eclipse
.settings/
.classpath
.project

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Docker volumes (ne treba nam data folderi)
volumes/

# Logs
*.log